
#box {
    display: block;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    height: 100vh;     
    position: relative;
  }
  .cat * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .cat, .ears, .eyes, .muzzle, .body, .paw, .tail, .tail-segment {position: relative;}
  .head, .body, .paw, .tail-segment {background-color: #fff;}
  .left {float: left;}
  .right {float: right;}
  .cat {
    margin-top: 50px;
    animation: purr 5s infinite cubic-bezier(0,.75,1,.25);
  }
  .head {
    width: 100px;
    height: 90px;
    border-radius: 50%;
    z-index: 100;
    /* transform: translateX(-15px) translateY(45px); */
  }
  .ears {
    top: -20px;
    z-index: -100;
  }
  .ear {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #000000;
  }
  .ear.left {
    transform: rotate(-20deg) translateX(-10px);
  }
  .ear.right {
    transform: rotate(20deg) translateX(10px);
  }
  .eyes {
    top: -18px;
    width: 60%;
  }
  .eye {
    width: 16px;
    /* height: 16px; */
    margin-top: 7px;
    border-bottom-left-radius: 100% ;
    border-bottom-right-radius: 100% ;
    /* border-radius: 50%; */
    background-color: #FFD700;
    text-align: center;
  }
  
  .muzzle {
    top: 50px;
  }
  .nose {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #666666;
  }
  .body {
    width: 200px;
    height: 120px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    top: -75px;
    left: 90px;
    z-index: -10;
  }
  .paw {
    height: 30px;
    width: 50px;
    border-radius: 25px;
    left: -100px;
    top: 90px;
  }
  .tail {
    left: 180px;
    top: -100px;
    transform: rotate(90deg);
    
  }
  
  .tail-segment {
    transform: rotate(12deg);
    height: 20px;
    width: 30px;
    border-radius: 25px;
    top: 0px;
    left: 10px;
    /*transform: rotate(10deg);*/
  }
  
  @keyframes tail-swish {
    0% {transform: rotate(12deg);}
    10% {transform: rotate(12deg);}
    40% {transform: rotate(-5deg);}
    50% {transform: rotate(5deg);}
    60% {transform: rotate(-5deg);}
    100% {transform: rotate(12deg);}
  }
  
  @keyframes head-bob {
    0% {transform: translateX(-15px) translateY(45px);}
    10% {transform: translateX(-15px) translateY(45px);}
    30% {transform: translateX(0) translateY(0);}
    75% {transform: translateX(0) translateY(0);}
    90% {transform: translateX(-15px) translateY(45px);}
    100% {transform: translateX(-15px) translateY(45px);}
  }
  
  @keyframes eye-blink {
    0% {transform: scaleY(0);}
    10% {transform: scaleY(0);}
    15% {transform: scaleY(1);}
    48% {transform: scaleY(1);}
    50% {transform: scaleY(0);}
    52% {transform: scaleY(1);}
    90% {transform: scaleY(1);}
    95% {transform: scaleY(0);} 
    100% {transform: scaleY(0);}  
  }
  
  @keyframes purr {
    0% {left: -1px;}
    1% {left: 0px;}
    2% {left: -1px;}
    3% {left: 0px;}
    4% {left: -1px;}
    5% {left: 0px;}
    6% {left: -1px;}
    7% {left: 0px;}
    8% {left: -1px;}
    9% {left: 0px;}
    10% {left: -1px;}
    11% {left: 0px;}
    12% {left: -1px;}
    13% {left: 0px;}
    14% {left: -1px;}
    15% {left: 0px;}
    16% {left: -1px;}
    17% {left: 0px;}
    18% {left: -1px;}
    19% {left: 0px;}
    20% {left: -1px;}
    21% {left: 0px;}
    94% {left: 0px;}
    95% {left: -1px;}
    96% {left: 0px;}
    97% {left: -1px;}
    98% {left: 0px;}
    99% {left: -1px;}
    100% {left: 0px;}
  }

.bubble {
    
    position: relative;
    position: absolute;
    top: 100px;
    background: #CAE9f5;
    color: grey;
    font-family: Arial;
    font-size: 20px;
    line-height: 120px;
    text-align: center;
    width: 250px;
    height: 120px;
    border-radius: 10px;
    padding: 0px 5px;
}

.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #CAE9f5 transparent;
    border-width: 20px 20px 0;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
}


  
